html {
  background: linear-gradient(
    120deg,
    #fce8e8,
    #eddffd,
    #e2fdea,
    #dadaf8,
    #fce0e0
  );
  background-size: 400% 400%;
  animation: subtleShift 30s ease infinite;
}

html::-webkit-scrollbar {
  display: none;
}

@keyframes subtleShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#statusSquare {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  transition: background-color 0.5s ease;
}

#profile_display {
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;

  top: 0%;
  left: 0%;
  height: 15%;
  width: 40%;
  margin: 1%;
  
  overflow: hidden;
}

#profile_display img, #profile_display div {
  position: relative;
  height: 80%;
  aspect-ratio: 1/1;
  margin: 0% 3% 0% 2%;
  overflow: hidden;
  border-radius: 500px;
}

#profile_display div {
  background-color: whitesmoke;
  border: 3px dashed lightgray;
}

#profile_display h1 {
  color: rgb(79, 79, 79);
  font-weight: bold;
  font-size: 200%;
}

#sidebar, #grid-container-content {
  transition: transform 2s ease;
}

#app-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 100%;
  grid-column-gap: 1%;
  
  height: 100vh;
  width: 100vw;
  padding: 2% 2% 2% 2%;
  z-index: 1;
  
  font-family: sans-serif;
}

#grid-container-sidebar {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
}

#grid-container-content {
  grid-area: 1 / 2 / 2 / 6;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
}


/* PARTIE SIDEBAR */
#sidebar:not([data-card-opening]) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;

  width: 90%;
  height: 90%;
  z-index: 10;
  
  border-radius: 30px;
  background-color: white;
  filter: drop-shadow(0 0 10px gray);
}

#sidebar button {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  cursor: pointer;

  height: auto;
  width: 70%;
  aspect-ratio: 1;
  max-width: 80%;

  border-radius: 20%;
  border: none;
  background-color: whitesmoke;
}

#sidebar button[data-locked="true"] {
  filter: brightness(0.75);
}

#sidebar button img {
  width: 50%;
  aspect-ratio: 1;
}

#sidebar button:not([data-locked="true"]):hover {
  background-color: lightgray;
}

#sidebar button:not([data-locked="true"]):active {
  animation: pulse 0.1s ease-in-out;
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}

#active-indicator {
  display: flex;
  position: absolute;

  height: auto;
  width: 70%;
  aspect-ratio: 1;

  background: transparent;
  border: 4px solid darkgray;
  border-radius: 20%;

  box-sizing: border-box;
  transition: top 0.3s ease, left 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}


/* PARTIE CONTENT */
.page {
  display: none;
  position: absolute;
  
  opacity: 0;
  width: 98%;
  height: 90%;

  border-radius: 30px;
  background-color: white;
  filter: drop-shadow(0 0 10px gray);
  overflow: hidden;
}

.page.active {
  display: flex;
  position: relative;
  overflow: hidden;
  opacity: 1;
}

.page-container {
  display: flex;
  position: relative;
  background-color: transparent;

  overflow: hidden;

  height: 100%;
  width: 100%;
}

/* Image de chargement en attendant la connexion à la db */
#page-container-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  background-color: transparent;

  height: 100%;
  width: 100%;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingImg {
  animation: rotating 4s linear infinite;
  margin-bottom: 2vh;
  height: 15vw;
  width: 15vw;
}

/* Annimation ouverture de cartes */

#app-container[data-card-opening] #sidebar {
  transform: translateX(-200%);
}

#app-container[data-card-opening] #grid-container-content {
  transform: translateX(120%);
}