.page-container-no-friends {
    margin: 2vh;
    display: flex;
    flex-direction: column;
}

.page-container-no-friends > :first-child {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.page-container-no-friends > img {
    width: 65%;
    margin: auto;
    display: block;
}

.page-container-no-friends > h1{
    font-size: 3vw;
}

.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    gap: 3vh;
    padding: 5vh;
    
    overflow-x: hidden;
    overflow-y: scroll;
}