#page-container {
  display: flex;
  width: 100%;
}

/* Menu de l'inventaire */
#inventory-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;

  height: 100%;
  width: 20%;
  border-radius: 30px;

  top: 0%;
  left: 0%;

  background-color: whitesmoke;
  filter: drop-shadow(0px 0px 5px grey);
}

#inventory-menu span {
  margin: 5% 0 2% 0;
  width: 85%;
  align-self: center;
  text-align: left;
  color: rgb(114, 114, 114);
  font-weight: bold;
}

#sortlist, #filterlist, #otherlist {
  display: flex;
  position: relative;
  flex-direction: column;

  width: 90%;
  margin-bottom: 5%;
  border-bottom: 2px solid lightgray;
}

.sortbuttons, #otherlist button {
  width: 95%;
  height: 4vh;
  margin: 1% 0 4% 0;
  align-self: center;
  font-size: 2vh;
  font-weight: bolder;

  border: none;
  border-radius: 40px;

  background-color: white;
  color: gray;
  filter: drop-shadow(0px 0px 5px lightgrey);
  transition: all 0.5s ease;
}

.sortbuttons[data-selectedsort], #otherlist button[data-checked] {
  background-color: rgb(184, 184, 184);
  filter: drop-shadow(0px 0px 5px rgb(91, 91, 91));
  color: black;
}

.sortbuttons:not([data-selectedsort]):hover {
  background-color: rgb(221, 221, 221);
}

.sortbuttons[data-selectedsort].hover {
  background-color: lightgray;
}

.filter-parram {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;

  padding: 2% 2% 2% 2%;
  margin-bottom: 4%;

  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: white;
}

#filterlist fieldset label {
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 100px;
  padding: 1%;
  left: 0%;
  top: 0%;
  font-size: 1.5vh;
  height: min-content;
  transform: translateY(-20%);
}


.filtertypebuttons, .filterraritybuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  aspect-ratio: 1/1;

  border: none;
  border-radius: 40px;

  background-color: transparent;
}

.filtertypebuttons img {
  width: 100%;
  aspect-ratio: 1/1;
  transition: all 0.2s linear;
  border-radius: 100%;
}

.filterraritybuttons img {
  width: 115%;
  aspect-ratio: 1/1;
  transition: all 0.2s linear;
  border-radius: 100%;
}

.filtertypebuttons:not([data-selectedfilter]) img, .filterraritybuttons:not([data-selectedfilter]) img {
  filter: grayscale(1);
  background-color: rgb(236, 236, 236);
}




/* Inventaire des cartes */
#cards-container {
  position: relative;
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  padding: 3% 0 0 3%;
  height: 100%;
  width: 80%;
  top: 0%;
  overflow-y: scroll;
}

#cards-container .card {
  z-index: 4;
  width: 22%;
  margin: 0 3% 2% 0;
}

#cards-container .empty-card {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 4;
  width: 22%;
  margin: 0 3% 2% 0;
  border: 3px solid rgba(128, 128, 128, 0.365);
  background: transparent;
}

#cards-container .empty-card span {
  color: grey;
  font-weight: bold;
  margin-bottom: 20%;
}

/* Masquer la barre de slide */
#cards-container::-webkit-scrollbar, #inventory-menu::-webkit-scrollbar {
  display: none;
}